.container{
    width: 76% !important;
     height: 100vh !important;
    position: absolute; 
    margin-left: 7% !important;
    top: 190%;
    
    
}

.bgorange{
    background-color: #36419A;
    color: white ;
}

.headingcontent{
    width: fit-content;
    right: 2% !important;
   
}

.roow
{
    margin-left: 10% !important;
}
.headingcontent span{
     top: -30px;
     left: -30px;
     color: #818181;
     border-bottom: 1px solid #36419A;
     padding-right: 15px;
     font-weight: 500;
}

/* start service */
section.service{
    /* padding-top: -40%; */
    padding-bottom: 10%;
    
    
 
    display: contents;
  
     
}
section.service .itemservice p{
    color: #818181;
}

section.service .itemservice::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #f3f3f3;
    z-index: -1;
    border-radius: 15px;
    transition: bottom .5s;
   
}
section.service .itemservice:hover::after{
    bottom: 0;
}

/* end service */
